<h3>Administration Area / Users</h3>

<ul class="admin-users">
  <% @users.each do |user| %>
    <li>
      <p>
        Name: <%= user.name %>
      </p>
      <p>
        Email: <%= user.email %>
      </p>
      <p>
        <%= link_to "Remove", [:admin, user], "data-turbo-method": "delete" %>
      </p>
    </li>
  <% end %>
</ul>
